@charset "UTF-8";

html,
body {
	height:100%;
	background-color: #fff;
}
#wrapper {
	position:absolute;
	top:50%;
	left:0;
	width:100%;
	padding:2em 0;
	margin-top:-7.25em;
	text-align: center;
	font-size:1em;
	background-color: #ccddee;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 3px rgba(255,255,255,1.0);
	font-family: Consolas,Menlo,Monaco,Courier,monospace;
}
		#code {
			display: block;
			font-size:4em;
			line-height:1.5em;
		}
		#message {
			display: block;
			font-size:3em;
			line-height:1.5em;
		}
