@charset "UTF-8";

* {
	margin:0;
	padding:0;
}
a[href] {
	color: #4183C4;
}
html,
body {
	height:100%;
	min-height:100%;
	background-color:#F5F6F8;
}
body {
	font: 0.9em 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 1.5;
	overflow-y: scroll;
}
	code {
		background-color: #EEF9FF;
		border: 1px solid #CCE4FF;
		border-radius: 5px;
		color: #333;
		font: 1em Consolas,Menlo,Monaco,Courier,monospace;
		padding: 0.4em;
	}
	h1 {
		position:absolute;
		top:0;
		width:100%;
		height:60px;
		z-index:1000;
		line-height:60px;
		box-shadow: 1px 1px 3px rgba(0,0,0,1);
		background-color:#000;
		font-size: 1em;
		font-weight:bold;
		color:#eee;
		text-align: center;
	}
		h1 .poweredBy {
			position: absolute;
			top:0;
			left:30px;
			font-size: 1.1em;
			font-style: italic;
			color:#fff;
			text-decoration: none;
		}
			h1 .poweredBy:hover {
				color:#ffa;
			}
	#wrapper {
		background-color:#fff;
		min-width:600px;
		max-width:800px;
		margin:0 auto;
		box-shadow: 0 0 2px #CCCCCC;
		border-radius: 5px;
		padding: 7em 42px 3em;
		margin-bottom: 30px;
	}
