@charset "UTF-8";

pre {
	font: 0.8em Consolas, Menlo, Monaco, Courier, monospace;
	margin: 0;
	white-space: pre-wrap;
}
table {
	border-collapse: collapse;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
	td {
		padding: 0.5em
	}
.box {
	background-color: #fff;
	-moz-box-shadow: 0px 0px 2px #ccc;
	-webkit-box-shadow: 0px 0px 2px #ccc;
	box-shadow: 0px 0px 2px #ccc;
	overflow: hidden;
	padding: 1em;
}
.code {
	background-color: #1a1a1a;
	background: url('./site_mojolicious-pinstripe.gif');
	color: #eee;
	text-shadow: #333 0 1px 0;
}
.important {
	background-color: rgba(47, 48, 50, .75)
}
.infobox {
	color: #333
}
.infobox tr:nth-child(odd) .value {
	background-color: #ddeeff
}
.infobox tr:nth-child(even) .value {
	background-color: #eef9ff
}
.key {
	text-align: right
}
.striped {
	border-top: solid #cce4ff 1px
}
.tap {
	font: 0.5em Verdana, sans-serif;
	text-align: center;
}
.value {
	padding-left: 1em;
	width: 100%;
}
#footer {
	padding-top: 1em;
	text-align: center;
}
#nothing { padding-top: 60px }
#showcase > pre {
	font: 1.5em 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	margin: 0;
	text-shadow: #333 0 1px 0;
}
#more, #trace {
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}
#more .tap,
#trace .tap {
	text-shadow: #ddd 0 1px 0
}
#request {
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	margin-top: 1em;
}
